.class-button{
    color: brown;
}

.bag-button{
background-color: greenyellow;
border-radius: 10px;
border-style: none;
height: 30px;
width: 100px;
}

.wish-button{
height: 35px;
width: 150px;
border: 3px solid  black;
border-radius: 8px;

}